
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typing {
  from { width: 0%; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  from { border-right-color: transparent; }
  to { border-right-color: black; }
}

p {
  margin-bottom: 1rem;
}

.dark {
  background-color: #2f0d1d;
  color: white;
  border-color:  #FAF9F6;
  border-width: 0px;
}

.light {
  background-color: #FAF9F6;
  color: black;
  border-color: rgb(0 0 0);
  border-width: 0px;
}

.fade-in {
  animation: fadeIn 3s ease-in-out;
}

.typing {
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
